.dashboard-login .form {
    margin-left: auto;
    margin-right: auto;
    height: 398px;
    left: 852px;
    position: absolute;
    top: 162px;
    width: 302px;
  }
  
  .dashboard-login .username {
    height: 45px;
    left: 0;
    position: absolute;
    top: 169px;
    width: 302px;
  }
  
  .dashboard-login .overlap-group-2 {
    border: 1px solid;
    border-color: #ffffff;
    border-radius: 4px;
    height: 45px;
    position: relative;
    width: 300px;
  }
  
  .dashboard-login input {
    background-color: #2148c0;
    border: none;
    mask-border: none;
    left: 20px;
    color: #ffffff;
    height: 38px;
    position: relative;
    width: 255px;
  }
  
  .dashboard-login .img {
    height: 20px;
    left: 11px;
    position: absolute;
    top: 12px;
    width: 20px;
  }
  
  .dashboard-login .password {
    height: 45px;
    left: 0;
    position: absolute;
    top: 234px;
    width: 302px;
  }
  
  .dashboard-login .login-btn {
    all: unset;
    display:block;
    box-sizing: border-box;
    height: 45px;
    left: 0;
    position: absolute;
    top: 322px;
    width: 302px;
  }
  