.dashboard-login {
    background-color: #2148c0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .dashboard-login .overlap-wrapper {
    background-color: #2148c0;
    height: 720px;
    overflow: hidden;
    width: 100%;
  }
  
  .dashboard-login .overlap {
    position: flex;
    height: 150%;
    left: -25%;
    position: relative;
    top: -1px;
    width: 150%;
  }
  
  .dashboard-login .BG {
    height: 150%;
    left: 0;
    position: absolute;
    top: 0;
    width: 150%;
  }
  
  .dashboard-login .overlap-group {
    background-color: #264ec9;
    border-radius: 327%;
    height: 52%;
    left: 0;
    position: absolute;
    top: 23%;
    width: 22%;
  }
  
  
  .dashboard-login .ellipse {
    background-color: #234bc5;
    border-radius: 100%;
    height: 68%;
    left: 12%;
    position: absolute;
    top: 9%;
    width: 77%;
  }
  
  .dashboard-login .div {
    background-color: #274ec7;
    border-radius: 54%;
    height: 46%;
    left: 19%;
    position: absolute;
    top: 18%;
    width: 57%;
  }

  .dashboard-login .vector {
    right: 44%;
    position: absolute;
    top: 1px;
    width: 26%;
  }
  
  
 
  .dashboard-login .text-wrapper {
    color: #ffffff;
    font-family: "Montserrat-Light", Helvetica;
    font-size: 14px;
    font-weight: 300;
    left: 50px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 12px;
    white-space: nowrap;
  }
  
  
  .dashboard-login .login-wrapper {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #0000004c;
    height: 45px;
    position: relative;
    width: 300px;
  }
  
  .dashboard-login .login {
    color: #2148c0;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 123px;
    letter-spacing: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 13px;
    white-space: nowrap;
  }
  
  .dashboard-login .text-wrapper-2 {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 154px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 378px;
  }
  
  .dashboard-login .group {
    height: 101px;
    left: 88px;
    position: absolute;
    top: -2px;
    width: 123px;
  }